{% extends 'reviews/base.html' %}
{% block title %}
{% if instance %}
    Editing {{ model_type }} {{ instance }}
{% else %}
    New {{ model_type }}
{% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if instance %}
        Editing {{ model_type }} <em>{{ instance }}</em>
    {% else %}
        New {{ model_type }}
    {% endif %}
</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
        {% if instance %}Save{% else %}Create{% endif %}
    </button>
</form>
{% endblock %}