{% extends 'base.html' %}

{% block content %}
<ul class="list-group">
  {% for item in book_list %}
  <li class="list-group-item">
      <span class="text-info">Title: </span> <span>{{ item.book.title }}</span>
      <br>
      <span class="text-info">Publisher: </span><span>{{ item.book.publisher }}</span>
      <br>
      <span class="text-info">Publication Date: </span><span>{{ item.book.publication_date }}</span>
      <br>
      <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ item.book_rating }}</span>
      <br>
      <span class="text-info">Number of reviews: </span><span>{{ item.number_of_reviews }}</span>
      <br>
      {% if item.book_rating is null %}
      <span class="text-secondary">Provide a rating and write the first review for this book.</span>
      <br>
      {% endif %}
      <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="/book/{{ item.book.id }}/">Reviews</a></li>
  </li>
  {% endfor %}
</ul>
{% endblock %}