{% extends 'reviews/base.html' %}

{% block content %}
      <br>
      <h3>Book Details</h3>
      <hr>
      <span class="text-info">Title: </span> <span>{{ book.title }}</span>
      <br>
      <span class="text-info">Publisher: </span><span>{{ book.publisher }}</span>
      <br>
      <span class="text-info">Publication Date: </span><span>{{ book.publication_date }}</span>
      <br>
      {% if not reviews %}
            <hr>
            <h3>Be the first one to write a review.</h3>
      {% else %}
            <span class="text-info">Overall Rating: </span><span class="badge badge-primary badge-pill">{{ book_rating }}</span>
            <br>
            <hr>
            <h3>Review Comments</h3>
            <ul>
            {% for review in reviews %}
                  <li class="list-group-item">
                        <span class="text-info">Review comment: </span> <span>{{ review.content }}</span>
                        <br>
                        <span class="text-info">Created on: </span><span>{{ review.date_created }}</span>
                        <br>
                        <span class="text-info">Modified on: </span><span>{{ review.date_edited }}</span>
                        <br>
                        <span class="text-info">Rating: </span><span class="badge badge-secondary badge-pill">{{ review.rating }}</span>
                        <br>
                        <span class="text-info">Creator: </span><span>{{ review.creator.username }}</span>
                        <br>
                  </li>
            {% endfor %}
            </ul>
      {% endif %}
{% endblock %}
