.navbar {
    min-height: 100px;
    font-size: 25px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-brand > img {
    height: 60px;
}

body {
   font-family: 'Source Sans Pro', sans-serif;
    background-color: #e6efe8;
   color: #393939;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}
